<template>
  <Transition name="slide-fade">
    <div
      v-if="data || message || title"
      :class="['is-'+type, ]"
      class="notification app-alert">
      <button
        class="delete"
        type="button"
        @click="clearData"/>
      <p class="title is-6">{{ title }}</p>
      <p v-if="typeof message === 'string'">{{ message }}</p>
      <ul v-else>
        <li
          v-for="(text, key) in message"
          :key="key">
          <strong v-if="typeof key === 'string'">{{ key }}</strong>
          {{ text }}
        </li>
      </ul>
      <ul v-if="data.errors">
        <li
          v-for="(arrayOfErrors, field) in data.errors"
          :key="field">
          <a :href="`#${field}`">
            <ul v-if="typeof arrayOfErrors === 'object'">
              <li
                v-for="(error, i) in arrayOfErrors"
                :key="i">
                {{ error }}
              </li>
            </ul>
            <span v-else>{{ arrayOfErrors }}</span>
          </a>
        </li>
      </ul>
    </div>
  </Transition>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    message: {
      type: String,
      default: '',
    },
    // Response
    data: {
      type: [String, Array, Object],
      default: '',
    },
    type: {
      type: String,
      default: 'status',
    },
  },
  computed: {
    typeClass() {
      if (this.type === 'status') {
        return 'is-info'
      }
      if (this.type === 'message') {
        return 'is-primary'
      }
      if (this.type === 'error') {
        return 'is-danger'
      }
      return `is-${this.type}`
    },
  },
  methods: {
    clearData() {
      this.$emit('update:title', '')
      this.$emit('update:data', '')
      this.$emit('update:type', '')
      this.$emit('update:message', '')
    },
  },
}
</script>

<style scoped>
.app-alert {
  position: fixed;
  right: 2em;
  bottom: 1em;
  z-index: 9;
}

.slide-fade-enter-active {
  transition: 0.3s ease;
  transition-property: opacity, transform;
}

.slide-fade-leave-active {
  transition: 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  transition-property: opacity, transform;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(100px);
}
</style>
