<template>
  <form
    :method="method"
    :action="action"
    v-on="ajax ? { submit: sendForm } : {}">
    <slot name="alerts">
      <AppAlert
        v-if="result"
        v-bind.sync="result" />
    </slot>
    <slot />
    <BField label="Título">
      <BInput
        id="form-create-name"
        v-model="localModel.name"
        type="text"
        required
        name="name" />
    </BField>
    <BField label="Slug">
      <BInput
        id="form-create-slug"
        v-model="localModel.slug"
        type="text"
        readonly
        static
        class="is-static"
        name="slug" />
    </BField>
    <template v-if="resource === 'efemerides'">
      <BField
        label="Fecha de la efemeride">
        <BDatepicker
          id="form-create-slug"
          v-model="localModel.date"
          required
          name="date-string" />
      </BField>
      <input
        type="hidden"
        name="date"
        :value="computedDate">
    </template>
    <SearchRelated
      v-else
      v-model="localModel.related"
      :input="localModel.related" />
    <div class="field">
      <label
        for="form-create-description"
        class="label">
        Descripción
      </label>
      <div class="control">
        <input
          id="form-create-description"
          :value="localModel.description"
          type="hidden"
          required
          name="description">
        <VueEditor
          v-model="localModel.description"
          use-custom-image-handler
          :editor-toolbar="$options.quillToolbar"
          :editor-options="$options.quillSettings"
          @imageAdded="compressImage"
        />
        <!-- :custom-modules="$options.quillModuless" -->
      </div>
    </div>
    <h4 class="subtitle has-text-centered">
      Complementos
    </h4>
    <BField label="Añadir referencias">
      <div class="buttons">
        <button
          type="button"
          class="button is-primary"
          @click="addElement('Documento')">
          <span class="icon">
            <FaIcon icon="plus" />
          </span><span>Añadir un Documento</span>
        </button>
        <button
          type="button"
          class="button is-primary"
          @click="addElement('Audio')">
          <span class="icon">
            <FaIcon icon="plus" />
          </span><span>Añadir un Audio</span>
        </button>
        <button
          type="button"
          class="button is-primary"
          @click="addElement('Video')">
          <span class="icon">
            <FaIcon icon="plus" />
          </span><span>Añadir un Video</span>
        </button>
      </div>
    </BField>
    <TransitionGroup
      name="elements">
      <fieldset
        v-for="(element, key) in localModel.elements"
        :key="element.id"
        class="fieldset notification elements">
        <legend class="fieldset-legend">
          {{ element.type }}
        </legend>
        <button
          class="delete"
          type="button"
          @click="localModel.elements.splice(key, 1);" />
        <input
          :name="`elements[${key}][type]`"
          :value="element.type"
          type="hidden">
        <BField
          grouped>
          <BField
            :label-for="`form-${key}-url`"
            label="Enlace url"
            expanded>
            <BInput
              :id="`form-${key}-url`"
              v-model="localModel.elements[key].url"
              :name="`elements[${key}][url]`"
              pattern="https?://.*"
              type="url" />
          </BField>
          <BField
            :label-for="`form-${key}-iframe`"
            label="Código de inserción"
            expanded>
            <BInput
              :id="`form-${key}-iframe`"
              v-model="localModel.elements[key].iframe"
              :name="`elements[${key}][iframe]`"
              type="text" />
          </BField>
        </BField>
        <BField grouped>
          <BField
            :label="`Descripción del ${element.type}`"
            :label-for="`form-${key}-description`"
            expanded>
            <BInput
              :id="`form-${key}-description`"
              v-model="localModel.elements[key].description"
              :name="`elements[${key}][description]`"
              type="text" />
          </BField>
          <BField
            :label="`¿Como se mostrará el ${element.type}?`"
            :label-for="`form-${key}-insertType`"
            expanded>
            <BSelect
              :id="`form-${key}-insertType`"
              v-model="localModel.elements[key].insertType"
              :name="`elements[${key}][insertType]`"
              expanded>
              <option value="iframe">
                Iframe
              </option>
              <option
                v-if="element.type !== 'Documento'"
                value="media">
                Media
              </option>
              <option value="url">
                Url
              </option>
            </BSelect>
          </BField>
        </BField>
      </fieldset>
    </TransitionGroup>
    <input
      v-if="localModel.elements.length === 0"
      type="hidden"
      name="elements">

    <fieldset class="fieldset notification ">
      <legend class="fieldset-legend">
        Imagen destacada
      </legend>

      <div class="field is-grouped">
        <div class="control">
          <BField class="file">
            <BUpload
              id="form-thumbnail"
              key="thumbnail_file"
              v-model="localModel.thumbnail_file"
              accept="image/*"
              name="thumbnail_file">
              <a class="button">
                <span class="icon">
                  <FaIcon icon="file-download" />
                </span>
                <span>{{ thereIsAnyFile ? 'Cambiar imagen' : 'Seleccionar imagen' }}</span>
              </a>
            </BUpload>
            <span class="file-name">
              {{ thereIsFile ? localModel.thumbnail_file.name : '' }}
            </span>
          </BField>
        </div>
        <p
          v-if="thereIsAnyFile"
          class="control">
          <button
            class="button is-warning"
            type="button"
            @click="localModel.thumbnail_url = ''; localModel.thumbnail_file = null">
            Eliminar imagen
          </button>
        </p>
      </div>
      <div
        v-if="thereIsAnyFile"
        class="field field-image">
        <p
          class="control">
          <img
            v-if="imagePreview"
            :src="imagePreview"
            alt="Previsualización">
          <img
            v-else-if="localModel.thumbnail_url"
            :src="thumbnailUrl"
            :alt="localModel.thumbnail_desc">
        </p>
      </div>
      <div class="field">
        <div class="control">
          <BCheckbox
            v-if="thereIsAnyFile"
            key="display_featured_image"
            v-model.number="localModel.display_featured_image">
            Mostrar imagen en el artículo
          </BCheckbox>
        </div>
      </div>
      <input
        type="hidden"
        name="display_featured_image"
        :value="Number(!!localModel.display_featured_image)">
      <BField
        v-if="thereIsAnyFile"
        expanded
        label="Descripción de la imagen"
        label-for="form-thumbnail-desc">
        <BInput
          id="form-thumbnail-desc"
          v-model="localModel.thumbnail_desc"
          type="text"
          name="thumbnail_desc" />
      </BField>
      <input
        key="thumbnail_url"
        type="hidden"
        name="thumbnail_url"
        :value="localModel.thumbnail_url">
    </fieldset>
    <button
      class="button is-primary"
      type="submit">
      Enviar
    </button>
  </form>
</template>

<script>
/* eslint-disable import/first */
import deburr from 'lodash/deburr'
import kebabCase from 'lodash/kebabCase'
import Compressor from 'compressorjs'

import ImageResize from '../../lib/quill-image-resize-module'
import VueEditor, { Quill } from '../../lib/vue2-editor/src/VueEditor.vue'
import axios from '../axios'
import AppAlert from './AppAlert.vue'
import SearchRelated from './SearchRelated.vue'

/* eslint-enable import/first */
Quill.register('modules/imageResize', ImageResize)

const slugify = str => kebabCase(deburr(str))

export default {
  name: 'GenericForm',
  components: { AppAlert, VueEditor, SearchRelated },
  quillToolbar: [
    [{ header: [1, 2, 3, 4, 5, 6, false] }],
    ['bold', 'italic', 'underline'], // toggled buttons
    [{ list: 'ordered' }, { list: 'bullet' }],
    [{ color: [] }, { background: [] }],
    [{ align: [] }],
    ['clean'],
    ['link', 'image'],
  ],
  quillModules: [
    // { alias: 'imageDrop', module: ImageDrop },
    // { alias: 'imageResize', module: ImageResize },
  ],
  quillSettings: {
    modules: {
      imageResize: {},
    },
  },
  props: {
    model: {
      type: Object,
      default: () => ({}),
      required: true,
    },
    method: {
      type: String,
      default: 'POST',
    },
    action: {
      type: String,
      default: '/',
    },
    resource: {
      type: String,
      default: 'efemerides',
    },
    ajax: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      localModel: Object.assign({
        name: '',
        slug: '',
        thumbnail_file: [],
        elements: [],
        display_featured_image: true,
        date: new Date(),
      }, this.model),
      result: {
        type: 'info',
        message: '',
        title: '',
        data: '',
      },
      imagePreview: '',
    }
  },
  computed: {
    computedDate() {
      const d = this.localModel.date || new Date()
      const r = this.resource === 'efemerides' ? d.toISOString() : this.localModel.date
      return r
    },
    thereIsFile() {
      return (this.localModel.thumbnail_file instanceof File)
    },
    thereIsAnyFile() {
      return !!this.localModel.thumbnail_url || !!this.thereIsFile
    },
    thumbnailUrl() {
      return window.laravel.baseUrl + this.localModel.thumbnail_url
    },
  },
  watch: {
    'localModel.name': function watchModelName(str) {
      this.localModel.slug = slugify(str)
    },
    'localModel.thumbnail_file': function watchThumbnailFile() {
      this.getImgPreview()
    },
  },
  created() {
    // Asegurandome de que date sea parseable en js
    if (this.localModel.date && !(this.localModel.date instanceof Date)) {
      // const [d, m, y] = this.localModel.date.split('/')
      const date = new Date(this.localModel.date)
      if (Number.isNaN(date)) {
        this.localModel.date = new Date()
      } else {
        this.localModel.date = date
      }
    }
    if (!Array.isArray(this.localModel.elements)) {
      this.localModel.elements = []
    }
    for (let i = 0; i < this.localModel.elements.length; i++) {
      this.localModel.elements[i].id = i
    }
  },
  methods: {
    compressImage(file, Editor, cursorLocation, resetUploader) {
      if (!file) {
        return
      }
      const vm = this
      // eslint-disable-next-line no-unused-vars
      const c = new Compressor(file, {
        quality: 0.6,
        maxWidth: 900,
        maxHeight: 600,
        mimeType: 'image/jpeg',
        success(blob) {
          const formData = new FormData()

          // The third parameter is required for server
          formData.append('file', blob, blob.name)
          formData.append('folder', `${vm.resource}_${vm.localModel.slug}`)

          // Send the compressed image file to server with XMLHttpRequest.
          axios.post('/admin/files', formData)
            .then((result) => {
              Editor.insertEmbed(cursorLocation, 'image', result.data.url)
              resetUploader()
            })
            .catch((err) => {
              vm.result.type = 'danger'
              if (err.response) {
                vm.result.title = 'Hubo un error guardando la imagen'
                vm.result.message = err.response.data.message
                vm.result.data = err.response.data
              } else {
                vm.result.data = 'Error de red'
              }
            })
        },
        error(err) {
          vm.result.type = 'danger'
          vm.result.message = err.message
        },
      })
    },
    getImgPreview() {
      if (this.thereIsFile) {
        const fileComp = this.localModel.thumbnail_file
        const input = this.$el.querySelector('input[name="thumbnail_file"]')
        window.debug_input = [input]
        const fileInput = input.files.item(0)
        console.log({ fileComp, fileInput })
        const u = window.URL.createObjectURL(fileComp)
        this.imagePreview = u
        this.$nextTick(() => {
          const newInput = this.$el.querySelector('input[name="thumbnail_file"]')
          window.debug_input.push(newInput)
        })
      }
    },
    sendForm(event) {
      event.preventDefault()
      axios({
        url: this.action,
        method: this.method,
        data: this.model,
      })
        .then(() => {
          this.result.type = 'success'
          this.result.message = 'Objeto guardado'
          // this.result.title
        })
        .catch((err) => {
          this.result.type = 'danger'
          if (err.response) {
            this.result.title = 'Hubo un error guardando tus datos'
            this.result.message = err.response.data.message
            this.result.data = err.response.data
          } else {
            this.result.data = 'Error de red'
          }
        })
    },
    addElement(type) {
      if (!type) return
      this.localModel.elements.unshift({
        id: this.localModel.elements.length,
        description: null,
        iframe: null,
        insertType: 'iframe',
        type,
        url: null,
      })
    },
  },
}
</script>

<style>
/* stylelint-disable*/
.quillWrapper,
.file-name {
  background: #ffffff;
}
.input.is-static,
.taginput .is-static.taginput-container.is-focusable {
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: #fff !important;
}

.elements {
  transition: 0.3s ease;
  transition-property: opacity, transform;
  min-width: calc(50% - 20px);
  display: inline-block;
  margin-right: 10px;
}
.elements-enter, .elements-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.elements-leave-active {
  position: absolute;
}
</style>
