<template>
  <BField
    :addons="false"
    label="Términos relacionados">
    <BTaginput
      v-model="terminosRelacionados"
      :data="terminosFiltrados"
      autocomplete
      field="name"
      icon="tags"
      type="is-secondary"
      placeholder="Añadir terminos relacionados"
      attached
      ellipsis
      @typing="getFilteredTags"
      @input="$emit('input', terminosRelacionados)">
      <template slot-scope="props">
        <strong>{{ props.option.id }}</strong>: {{ props.option.name }}
      </template>
      <template slot="empty">
        There are no items
      </template>
    </BTaginput>
    <p class="help">
      Escribe el nombre de los terminos relacionados, presiona enter para seleccionar uno
    </p>
    <input
      v-for="termino in terminosRelacionados"
      :key="termino.id"
      :value="termino.id"
      type="hidden"
      name="related[]">
  </BField>
</template>

<script>
import axios from '../axios'

export default {
  name: 'SearchRelated',
  props: {
    input: {
      type: [Array, String],
      default: () => ([]),
    },
  },
  data() {
    return {
      terminos: [],
      terminosFiltrados: [],
      isSelectOnly: false,
      terminosRelacionados: [],
    }
  },
  mounted() {
    this.terminosRelacionados = this.terminosRelacionados.concat(this.input)
    const vm = this
    axios.get('/api/terminos')
      .then(({ data }) => {
        vm.terminos = data.data
      })
  },
  methods: {
    getFilteredTags(text) {
      this.terminosFiltrados = this.terminos.filter(option => option.name
        .toString()
        .toLowerCase()
        .indexOf(text.toLowerCase()) >= 0)
    },
  },
}
</script>
