<template>
  <div class="v-sound">
    <div
      class="v-sound-controls">
      <div class="field has-addons v-sound-controls__states is-marginless">
        <p class="control">
          <button
            :class="[{'is-active': playing}, buttonClasses]"
            type="button"
            class="button "
            @click="playPause">
            <span class="icon is-small">
              <FaIcon :icon="playing ? 'pause' : 'play'" />
            </span>
          </button>
        </p>
        <p class="control">
          <button
            :class="[{'is-active': !playing && currentTime === 0}, buttonClasses]"
            class="button "
            type="button"
            @click="stop">
            <span class="icon is-small">
              <FaIcon icon="stop" />
            </span>
          </button>
        </p>
      </div>
      <div class="level-item v-sound-controls__progress ">
        <progress
          :value="currentTime"
          :min="0"
          :max="totalDuration"
          class="v-sound__progress"
          @click="setPosition">
          <span>{{ progress }}</span>
        </progress>
        <span class="is-size-7">
          {{ displayCurrentTime }} : {{ displayTotalTime }}
        </span>
      </div>
      <div class="dropdown is-hoverable is-right v-sound-controls__volume">
        <div class="dropdown-trigger">
          <button
            :class="buttonClasses"
            class="button  v-sound__volume"
            aria-haspopup="true"
            aria-controls="dropdown-menu4"
            @click="displayVolumeMenu = !displayVolumeMenu">
            <span class="icon">
              <FaIcon icon="volume-up" />
            </span>
          </button>
        </div>
        <div
          id="dropdown-menu4"
          class="dropdown-menu "
          role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <div class="field has-addons has-addons-centered">
                <p class="control">
                  <button
                    :class="buttonClasses"
                    type="button"
                    class="button "
                    aria-label="Silencio"
                    @click="mute">
                    <span class="icon">
                      <FaIcon icon="volume-off" />
                    </span>
                  </button>
                </p>
                <p class="control">
                  <button
                    :class="buttonClasses"
                    type="button"
                    class="button"
                    aria-label="Bajar volumen"
                    @click="volumeValue >= 5 ? volumeValue -= 5 : volumeValue = 0">
                    <span class="icon">
                      <FaIcon icon="volume-down" />
                    </span>
                  </button>
                </p>
                <p class="control">
                  <button
                    :class="buttonClasses"
                    type="button"
                    class="button"
                    aria-label="Subir volumen"
                    @click="volumeValue <= 95 ? volumeValue += 5 : volumeValue = 100">
                    <span class="icon">
                      <FaIcon icon="volume-up" />
                    </span>
                  </button>
                </p>
              </div>
              <div class="dropdown-item">
                <input
                  v-model.number="volumeValue"
                  type="range"
                  class="slider"
                  min="0"
                  max="100"
                  step="5"
                  name="audio-volume">
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        :class="buttonClasses"
        class="button  v-sound__download v-sound-controls__download"
        @click="download">
        <div class="icon">
          <FaIcon icon="file-download" />
        </div>
      </button>
    </div>

    <audio
      :id="`player-${uuid}`"
      ref="audiofile"
      :loop="innerLoop"
      :src="src"
      preload="auto"
      style="display:none;"
      @timeupdate="handlePlayingUI"
      @loadeddata="handleLoaded"
      @pause="handlePlayPause"
      @play="handlePlayPause" />
  </div>
</template>
<script>

export const baseVolumeValue = 75
// SE ROMPIO ESTA MADRE
export const generateUUID = () => 'xxxxxxxx-xxxx-4xxx'.replace(/[xy]/g, (c) => {
  const r = Math.random() * 16 | 0
  const v = c === 'x' ? r : ((r & 0x3) | 0x8)
  return v.toString(16)
})
/* eslint-enable no-bitwise */


export const convertTimeHHMMSS = (val) => {
  const hhmmss = new Date(val * 1000).toISOString().substr(11, 8)
  return (hhmmss.indexOf('00:') === 0) ? hhmmss.substr(3) : hhmmss
}

export default {
  name: 'VueAudio',
  props: {
    src: {
      type: String,
      default: null,
    },
    autoPlay: {
      type: Boolean,
      default: false,
    },
    loop: {
      type: Boolean,
      default: false,
    },
    buttonSize: {
      type: String,
      default: 'is-small',
    },
    buttonColor: {
      type: String,
      default: 'is-white',
    },
    buttonStyle: {
      type: String,
      default: 'is-outlined',
    },
  },
  data() {
    return {
      isMuted: false,
      loaded: false,
      playing: false,
      currentTime: 0,
      uuid: generateUUID() || '0',
      innerLoop: this.loop,
      totalDuration: 0,
      volumeValue: baseVolumeValue,
      displayVolumeMenu: false,
    }
  },
  computed: {
    progress() {
      return (this.currentTime / this.totalDuration) * 100
    },
    displayTotalTime() {
      return convertTimeHHMMSS(this.totalDuration)
    },
    displayCurrentTime() {
      return convertTimeHHMMSS(this.currentTime)
    },
    buttonClasses() {
      return [this.buttonSize, this.buttonColor, this.buttonStyle]
    },
  },
  watch: {
    volumeValue() {
      this.updateVolume()
    },
  },
  methods: {
    setPosition(e) {
      if (!this.playing) return
      const tag = e.target
      const percent = e.offsetX / tag.offsetWidth
      const time = Math.floor(this.$refs.audiofile.duration * percent)
      this.$refs.audiofile.currentTime = time
    },
    updateVolume() {
      this.$refs.audiofile.volume = this.volumeValue / 100
      if (this.volumeValue / 100 > 0) {
        this.isMuted = false
        this.$refs.audiofile.muted = false
      }

      if (this.volumeValue / 100 === 0) {
        this.isMuted = false
        this.$refs.audiofile.muted = true
      }
    },
    stop() {
      this.playing = false
      this.$refs.audiofile.pause()
      this.$refs.audiofile.currentTime = 0
    },
    playPause() {
      this.playing = !this.playing
      if (this.playing) {
        this.$refs.audiofile.play()
      } else {
        this.$refs.audiofile.pause()
      }
    },
    changeLoop() {
      this.innerLoop = !this.innerLoop
    },
    download() {
      this.stop()
      window.open(this.src, 'download')
    },
    mute() {
      this.isMuted = !this.isMuted
      this.$refs.audiofile.muted = this.isMuted
      this.volumeValue = this.isMuted ? 0 : 75
    },
    handleLoaded() {
      if (this.$refs.audiofile.readyState >= 2) {
        if (this.autoPlay) this.play()

        this.loaded = true
        let total = parseInt(this.$refs.audiofile.duration, 10)
        if (Number.isNaN(total)) {
          total = 0
        }
        this.totalDuration = total
      } else {
        throw new Error('Failed to load sound file')
      }
    },
    handlePlayingUI() {
      this.currentTime = parseInt(this.$refs.audiofile.currentTime, 10)
    },
    handlePlayPause(e) {
      if (e.type === 'pause' && this.playing === false) {
        this.playing = false
      }
    },
  },

}
</script>
<style lang="scss" scoped>
@import "../../sass/base/basic";

$background: $black;
$contrast: $white;

.v-sound {
  padding: 0.5rem;
  margin: 1rem 0;
  color: $contrast;
  background: $background;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba($black, 0.5);

  &__volume {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__download {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__progress {
    @include block;
    display: block;
    width: 100%;
    height: $size-small;
    padding: 0;
    margin-bottom: 0 !important;
    overflow: hidden;
    border: 1px solid $contrast;
    border-radius: 3px;
    appearance: none;

    &::-webkit-progress-bar {
      background-color: $background;
    }

    &::-webkit-progress-value {
      background-color: $contrast;
    }

    &::-moz-progress-bar {
      background-color: $contrast;
    }

    &::-ms-fill {
      background-color: $contrast;
      border: none;
    }
  }

  &-controls {
    display: flex;
    align-items: center;

    &__states {
      flex-shrink: 1;
    }

    &__progress {
      display: flex;
      flex-grow: 2;
      margin-left: 0.5rem;
      flex-direction: column;
      align-items: center;
    }

    &__volume {
      flex-shrink: 1;
    }

    &__download {
      flex-shrink: 1;

    }
  }

  .dropdown {
      margin-left: 0.5rem;
  }

  .dropdown-content {
    background: $background;
  }

  input[type=range].slider {
    margin: 0;
  }
}
</style>
