<template>
  <BField
    label="Selecciona un estilo de fuentes"
    class="font-chooser is-hidden-print">
    <BSelect v-model="style">
      <option value="default">
        Fuentes del sistema
      </option>
      <option
        v-for="(f, i) in pairings"
        :key="i"
        :value="i">
        {{ f[0] }}
      </option>
    </BSelect>
  </BField>
</template>

<script>
export default {
  name: 'VFontChooser',
  data: () => ({
    style: 'default',
    fontsLoaded: [],
    pairings: [
      ['Croissant One', 'cursive'],
      ['Yeseva One', 'cursive'],
    ],
  }),
  computed: {
    pair() {
      return this.pairings[this.style] || ['Roboto', 'sans']
    },
  },
  watch: {
    pair() {
      this.loadNewFont()
    },
  },
  methods: {
    loadNewFont() {
      if ('WebFont' in window) {
        const fontString = this.pair[0] + (this.pair[2] || '')
        console.log('Loading font: ', fontString)
        window.WebFont.load({
          google: {
            families: [fontString],
          },
        })
        setTimeout(() => {
          this.setNextFont()
        }, 500)
      }
    },
    setNextFont() {
      const font = `"${this.pair[0]}", ${this.pair[1]}`
      const root = document.documentElement
      root.style.setProperty('--font-title', font)
      let weight = '400'
      if (this.pair[2]) {
        // Quitar : y obtener el peso final
        [weight] = this.pair[2].substring(1).split(',').slice(-1)
      }
      root.style.setProperty('--font-weight', weight)
    },
  },
}
</script>

<style lang="scss">
@import "../../sass/base/basic";

.font-chooser {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 2;
  padding: 0.5rem;
  background: $white;
  box-shadow: 0 0 8px rgba($black, 0.6);
}

:root {
  ---font-body: "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Segoe UI", "Arial", sans-serif;
  --font-title: "Garamond", "Georgia", "Times", "Times New Roman", serif ;
  --font-weight: 700;
}

.body {
  // font-family: var(--font-body);
  .title, .subtitle {
    font-family: var(--font-title);
  }

  .title {
    font-weight: var(--font-weight);
  }


}

</style>
