<template>
  <span
    class="is-hidden"
    @click="track">
    <!-- Tracker -->
    {{ tracked }}
  </span>
</template>

<script>
const xhr = new XMLHttpRequest()

export default {
  name: 'VTracker',
  data: () => ({
    currentUrl: '',
    a: 0,
    b: 0,
    tracked: null,
  }),
  mounted() {
    const userAgentBotTest = navigator.userAgent
    // eslint-disable-next-line
    const botPattern = '(googlebot\/|Googlebot-Mobile|Googlebot-Image|Google favicon|Mediapartners-Google|bingbot|slurp|java|wget|curl|Commons-HttpClient|Python-urllib|libwww|httpunit|nutch|phpcrawl|msnbot|jyxobot|FAST-WebCrawler|FAST Enterprise Crawler|biglotron|teoma|convera|seekbot|gigablast|exabot|ngbot|ia_archiver|GingerCrawler|webmon |httrack|webcrawler|grub.org|UsineNouvelleCrawler|antibot|netresearchserver|speedy|fluffy|bibnum.bnf|findlink|msrbot|panscient|yacybot|AISearchBot|IOI|ips-agent|tagoobot|MJ12bot|dotbot|woriobot|yanga|buzzbot|mlbot|yandexbot|purebot|Linguee Bot|Voyager|CyberPatrol|voilabot|baiduspider|citeseerxbot|spbot|twengabot|postrank|turnitinbot|scribdbot|page2rss|sitebot|linkdex|Adidxbot|blekkobot|ezooms|dotbot|Mail.RU_Bot|discobot|heritrix|findthatfile|europarchive.org|NerdByNature.Bot|sistrix crawler|ahrefsbot|Aboundex|domaincrawler|wbsearchbot|summify|ccbot|edisterbot|seznambot|ec2linkfinder|gslfbot|aihitbot|intelium_bot|facebookexternalhit|yeti|RetrevoPageAnalyzer|lb-spider|sogou|lssbot|careerbot|wotbox|wocbot|ichiro|DuckDuckBot|lssrocketcrawler|drupact|webcompanycrawler|acoonbot|openindexspider|gnam gnam spider|web-archive-net.com.bot|backlinkcrawler|coccoc|integromedb|content crawler spider|toplistbot|seokicks-robot|it2media-domain-crawler|ip-web-crawler.com|siteexplorer.info|elisabot|proximic|changedetection|blexbot|arabot|WeSEE:Search|niki-bot|CrystalSemanticsBot|rogerbot|360Spider|psbot|InterfaxScanBot|Lipperhey SEO Service|CC Metadata Scaper|g00g1e.net|GrapeshotCrawler|urlappendbot|brainobot|fr-crawler|binlar|SimpleCrawler|Livelapbot|Twitterbot|cXensebot|smtbot|bnf.fr_bot|A6-Indexer|ADmantX|Facebot|Twitterbot|OrangeBot|memorybot|AdvBot|MegaIndex|SemanticScholarBot|ltx71|nerdybot|xovibot|BUbiNG|Qwantify|archive.org_bot|Applebot|TweetmemeBot|crawler4j|findxbot|SemrushBot|yoozBot|lipperhey|y!j-asr|Domain Re-Animator Bot|AddThis)'
    const re = new RegExp(botPattern, 'i')
    if (re.test(userAgentBotTest)) {
      console.warn('Probablemente seas un bot')
    } else {
      this.$nextTick(() => setTimeout(() => {
        this.track()
      }, 800))
    }
  },
  methods: {
    track() {
      this.currentUrl = window.location.pathname
      this.a = Math.floor(Math.random() * 11)
      this.b = Math.floor(Math.random() * 11)

      xhr.open('put', `${this.currentUrl}/hit`, true)
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
      const token = document.head.querySelector('meta[name="csrf-token"]')
      if (token) {
        xhr.setRequestHeader('X-CSRF-TOKEN', token.content)
        xhr.setRequestHeader('Content-Type', 'application/json;charset=utf-8')
        xhr.setRequestHeader('Accept', 'application/json')
      } else {
        console.error(
          'CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token',
        )
      }
      xhr.onloadend = data => this.xhrCb(data)
      xhr.send(JSON.stringify({
        a: this.a, b: this.b, c: this.a + this.b,
      }))
    },
    xhrCb() {
      if (xhr.status >= 200 && xhr.status < 300) {
        const [, counter] = JSON.parse(xhr.response)
        this.tracked = counter
        console.log('Término hiteado', { xhr })
      } else {
        console.warn('The request failed!', { xhr })
      }
    },
  },
}
</script>

<style>

</style>
