.app-title {
  display: block;
  line-height: 1;
  text-align: left;
  white-space: nowrap;

  @media print {
    color: $black !important;
  }

  &__line {
    font-size: $size-5;
    @include tablet {
      font-size: $size-4;
    }

    &--1 {
      font-weight: bold;
    }

    &--2 {
      padding-left: 1em;
      font-size: $size-6;
      font-weight: lighter;
      @include tablet {
        font-size: $size-5;
      }
    }
  }
}
