/* @define article-excerpt */

.article-excerpt {
  &__title {
    font-size: $size-5;
    font-weight: bold;
    color: $primary;
  }
  &__link {
    color: $primary;
  }
  &__image {
    width: 10rem;
    overflow: hidden;
    border-radius: 10rem;
    box-shadow: 2px 2px 4px rgba($black, 0.5);
  }
}
