.footer {
  position: relative;
  padding: 1rem;
  margin-top: 6rem;
  background: $grey-lighter;

  .columns {
    @include touch {
      text-align: center;
    }
  }

  .buttons {
    @include touch {
      justify-content: center;
    }
  }

  &__logo {
    // top: calc(-50% - 1rem);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: $white;
    border-radius: $radius;

    @include tablet {
      position: absolute;
      top: -5rem;
      height: 5rem;
      box-shadow: 0 0 2px rgba($color: $black, $alpha: 0.5);
    }

    &--inmujeres {
      left: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      margin-right: 0.5rem;
      // height: 3rem;
    }
  }

  &__logos {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
      flex-wrap: wrap;
    }
    @include tablet {
      padding: 0;
      justify-content: flex-end;

    }
  }
}
