.button {
  &.is-circled {
    border-radius: 100%;
  }
}

.fieldset {
  // padding: 0.5rem;
  border: 1px solid $grey-lighter;
  // &:not(:last-child) {
  //   margin-bottom: 1rem;
  // }
  &-legend {
    margin: 0 1rem;
    font-weight: bold;
  }
}

.icon {
  svg {
    width: 1.5em;
    height: 1.5em;
  }
}

.is-hidden-print {
  @media print {
    display: none !important;
  }
}

.is-hidden-screen {
  @media screen {
    display: none !important;
  }
}

.is-list {
  list-style: disc;
  list-style-position: inside;
}
