$color-1: #fff;
$color-2: #e60000;
$color-3: #f90;
$color-4: #ff0;
$color-5: #008a00;
$color-6: #06c;
$color-7: #93f;
$color-8: rgba(0, 0, 0, 0.6);
$font-family-1: Helvetica, Arial, sans-serif;
$font-family-2: Georgia, "Times New Roman", serif;
$font-family-3: Monaco, "Courier New", monospace;
$background-color-1: #000;
$background-color-2: #e60000;
$background-color-3: #f90;
$background-color-4: #ff0;
$background-color-5: #008a00;
$background-color-6: #06c;
$background-color-7: #93f;

.content {
  // box-sizing: border-box;
  // tab-size: 4;
  // text-align: left;
  // white-space: pre-wrap;
  word-wrap: break-word;

  p {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }

  ol {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    padding-left: 1.5em;

    >li {
      list-style-type: none;
    }

    li {
      padding-left: 1.5em;
      counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
      counter-increment: list-num;

      &:before {
        content: counter(list-num, decimal) '. ';
      }

      &.ql-indent-1 {
        counter-increment: list-1;
        counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;

        &:before {
          content: counter(list-1, lower-alpha) '. ';
        }
      }

      &.ql-indent-2 {
        counter-increment: list-2;
        counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;

        &:before {
          content: counter(list-2, lower-roman) '. ';
        }
      }

      &.ql-indent-3 {
        counter-increment: list-3;
        counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;

        &:before {
          content: counter(list-3, decimal) '. ';
        }
      }

      &.ql-indent-4 {
        counter-increment: list-4;
        counter-reset: list-5 list-6 list-7 list-8 list-9;

        &:before {
          content: counter(list-4, lower-alpha) '. ';
        }
      }

      &.ql-indent-5 {
        counter-increment: list-5;
        counter-reset: list-6 list-7 list-8 list-9;

        &:before {
          content: counter(list-5, lower-roman) '. ';
        }
      }

      &.ql-indent-6 {
        counter-increment: list-6;
        counter-reset: list-7 list-8 list-9;

        &:before {
          content: counter(list-6, decimal) '. ';
        }
      }

      &.ql-indent-7 {
        counter-increment: list-7;
        counter-reset: list-8 list-9;

        &:before {
          content: counter(list-7, lower-alpha) '. ';
        }
      }

      &.ql-indent-8 {
        counter-increment: list-8;
        counter-reset: list-9;

        &:before {
          content: counter(list-8, lower-roman) '. ';
        }
      }

      &.ql-indent-9 {
        counter-increment: list-9;

        &:before {
          content: counter(list-9, decimal) '. ';
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    padding-left: 1.5em;

    >li {
      list-style-type: none;

      &::before {
        content: '\25CF';
      }
    }

    li {
      padding-left: 1.5em;
    }
  }

  pre {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }

  blockquote {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }

  h1 {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }

  h2 {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }

  h3 {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }

  h4 {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }

  h5 {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }

  h6 {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }

  li {
    &::before {
      display: inline-block;
      margin-right: 0.3em;
      text-align: right;
      white-space: nowrap;
      width: 1.2em;
    }

    &:not(.ql-direction-rtl) {
      &::before {
        margin-left: -1.5em;
      }
    }
  }

  .ql-indent-1 {
    &:not(.ql-direction-rtl) {
      padding-left: 3em;
    }
  }

  li.ql-indent-1 {
    &:not(.ql-direction-rtl) {
      padding-left: 4.5em;
    }
  }

  .ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 3em;
  }

  li.ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 4.5em;
  }

  .ql-indent-2 {
    &:not(.ql-direction-rtl) {
      padding-left: 6em;
    }
  }

  li.ql-indent-2 {
    &:not(.ql-direction-rtl) {
      padding-left: 7.5em;
    }
  }

  .ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 6em;
  }

  li.ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 7.5em;
  }

  .ql-indent-3 {
    &:not(.ql-direction-rtl) {
      padding-left: 9em;
    }
  }

  li.ql-indent-3 {
    &:not(.ql-direction-rtl) {
      padding-left: 10.5em;
    }
  }

  .ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 9em;
  }

  li.ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 10.5em;
  }

  .ql-indent-4 {
    &:not(.ql-direction-rtl) {
      padding-left: 12em;
    }
  }

  li.ql-indent-4 {
    &:not(.ql-direction-rtl) {
      padding-left: 13.5em;
    }
  }

  .ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 12em;
  }

  li.ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 13.5em;
  }

  .ql-indent-5 {
    &:not(.ql-direction-rtl) {
      padding-left: 15em;
    }
  }

  li.ql-indent-5 {
    &:not(.ql-direction-rtl) {
      padding-left: 16.5em;
    }
  }

  .ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 15em;
  }

  li.ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 16.5em;
  }

  .ql-indent-6 {
    &:not(.ql-direction-rtl) {
      padding-left: 18em;
    }
  }

  li.ql-indent-6 {
    &:not(.ql-direction-rtl) {
      padding-left: 19.5em;
    }
  }

  .ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 18em;
  }

  li.ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 19.5em;
  }

  .ql-indent-7 {
    &:not(.ql-direction-rtl) {
      padding-left: 21em;
    }
  }

  li.ql-indent-7 {
    &:not(.ql-direction-rtl) {
      padding-left: 22.5em;
    }
  }

  .ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 21em;
  }

  li.ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 22.5em;
  }

  .ql-indent-8 {
    &:not(.ql-direction-rtl) {
      padding-left: 24em;
    }
  }

  li.ql-indent-8 {
    &:not(.ql-direction-rtl) {
      padding-left: 25.5em;
    }
  }

  .ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 24em;
  }

  li.ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 25.5em;
  }

  .ql-indent-9 {
    &:not(.ql-direction-rtl) {
      padding-left: 27em;
    }
  }

  li.ql-indent-9 {
    &:not(.ql-direction-rtl) {
      padding-left: 28.5em;
    }
  }

  .ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 27em;
  }

  li.ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 28.5em;
  }

  .ql-video {
    display: block;
    max-width: 100%;
  }

  .ql-video.ql-align-center {
    margin: 0 auto;
  }

  .ql-video.ql-align-right {
    margin: 0 0 0 auto;
  }

  .ql-bg-black {
    background-color: $background-color-1;
  }

  .ql-bg-red {
    background-color: $background-color-2;
  }

  .ql-bg-orange {
    background-color: $background-color-3;
  }

  .ql-bg-yellow {
    background-color: $background-color-4;
  }

  .ql-bg-green {
    background-color: $background-color-5;
  }

  .ql-bg-blue {
    background-color: $background-color-6;
  }

  .ql-bg-purple {
    background-color: $background-color-7;
  }

  .ql-color-white {
    color: $color-1;
  }

  .ql-color-red {
    color: $color-2;
  }

  .ql-color-orange {
    color: $color-3;
  }

  .ql-color-yellow {
    color: $color-4;
  }

  .ql-color-green {
    color: $color-5;
  }

  .ql-color-blue {
    color: $color-6;
  }

  .ql-color-purple {
    color: $color-7;
  }

  .ql-font-serif {
    font-family: $font-family-2;
  }

  .ql-font-monospace {
    font-family: $font-family-3;
  }

  .ql-size-small {
    font-size: 0.75em;
  }

  .ql-size-large {
    font-size: 1.5em;
  }

  .ql-size-huge {
    font-size: 2.5em;
  }

  .ql-direction-rtl {
    direction: rtl;
    text-align: inherit;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-justify {
    text-align: justify;
  }

  .ql-align-right {
    text-align: right;
  }
}

.ql-blank {
  &::before {
    position: absolute;
    font-style: italic;
    color: $color-8;
    pointer-events: none;
    content: attr(data-placeholder);
  }
}
