/**
* Utilidades como espaciados y fondos
*/

.util {
  &-text {
    &__dont-break {
      &--desktop {
        @include desktop {
          white-space: nowrap;
        }
      }
    }
  }

  &-space {
    @each $size in $sizes {
      $i: index($sizes, $size);

      &__top {

        &--#{$i}x {
          margin-top: $size;
        }
      }

      &__bottom {

        &--#{$i}x {
          margin-bottom: $size;
        }
      }
    }
  }

  &-block-center {
    margin-right: auto;
    margin-left: auto;
  }

  &-flex {
    &__alignself {
      &--bottom {
        align-self: flex-end;
      }
    }

    &__justifyself {
      &--end {
        margin-top: auto;
        justify-self: flex-end;
      }
    }

    &__shrink {
      flex-shrink: 1 !important;
      flex-grow: 0 !important;
    }

    &__grow {
      flex-shrink: 0 !important;
      flex-grow: 1 !important;
    }

    &__center {
      justify-content: center;
    }
  }

  &-background {
    background: $red;
    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      $color-invert: nth($pair, 2);

      &--#{$name} {
        color: $color-invert;
        background-color: $color;
      }
    }
  }
}
