.articulo {
  &--termino {}

  &--efemeride & {
    &__side {
      order: 1;
    }

    &__content {
      order: 2;
    }

    &__thumbnail {
      color: $secondary;
      background: $white;
    }
  }

  &__date {}

  &__thumbnail {
    color: $white;
    background: $secondary;
    box-shadow: 0 0 2px rgba($color: $black, $alpha: 0.5);

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__figcaption {
    padding: 0.5rem;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
  }

  &__side {
    padding: 0.75rem !important;
    background: $white;

    .articulo--efemeride & {
      margin-right: -1px;
      border-right: 1px $primary solid;
    }
    .articulo--termino & {
      margin-left: -1px;
      border-left: 1px $secondary solid;
    }

    .title {
      color: $primary;
    }
  }

  &-elements {
    &__type {
      // font-size: $size-4;
    }

    &__item {
      margin-top: 1rem;
    }

    &__content {
      padding-left: 0.5rem;
      margin-left: 0.5rem;
      border-left: 1px solid $grey-light;

    }

    &__content-item {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 0.5em;
        border-bottom: 1px solid $grey-light;
      }
    }
  }
}
