@import "../base/basic";
@import "../components/app-title";
@import "~bulma/sass/elements/box.sass";

.hero {
  background: $white-ter;

  &-body {
    justify-content: center;

    .label {
      font-weight: lighter;
      color: $white;
      text-align: center;
    }

    .app-title {
      color: $white;
    }

    .box {
      width: 100%;
      color: $white;
      background: linear-gradient($primary, $secondary);
      background-image: url('../../images/background-login_large.jpg');
      background-position: center top;
      background-size: cover;
      @include tablet {
        width: 80%;
      }
      @include desktop {
        width: 60%;
      }
      @include fullhd {
        width: 50%;
      }
    }

    .checkbox {
      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}
