@import "../base/basic";

$menu-heigth: 5rem;
@import "~bulma/sass/elements/other.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/components/modal.sass";

@import "~bulma/sass/components/dropdown.sass";
@import "../../lib/buefy/src/scss/utils/all";
@import "../../lib/buefy/src/scss/components/dropdown";
@import "../../lib/buefy/src/scss/components/autocomplete";
@import "../../lib/buefy/src/scss/components/checkbox";
// @import "../../lib/buefy/src/scss/components/collapse";
@import "../../lib/buefy/src/scss/components/datepicker";
@import "../../lib/buefy/src/scss/components/dialog";
@import "../../lib/buefy/src/scss/components/form";
@import "../../lib/buefy/src/scss/components/icon";
@import "../../lib/buefy/src/scss/components/loading";
// @import "../../lib/buefy/src/scss/components/message";
@import "../../lib/buefy/src/scss/components/modal";
@import "../../lib/buefy/src/scss/components/notices";
// @import "../../lib/buefy/src/scss/components/pagination";
// @import "../../lib/buefy/src/scss/components/panel";
// @import "../../lib/buefy/src/scss/components/radio";
@import "../../lib/buefy/src/scss/components/select";
// @import "../../lib/buefy/src/scss/components/switch";
// @import "../../lib/buefy/src/scss/components/table";
// @import "../../lib/buefy/src/scss/components/tabs";
@import "../../lib/buefy/src/scss/components/tag";
@import "../../lib/buefy/src/scss/components/taginput";
// @import "../../lib/buefy/src/scss/components/timepicker";
// @import "../../lib/buefy/src/scss/components/tooltip";
@import "../../lib/buefy/src/scss/components/upload";
@import "~bulma-extensions/bulma-divider/src/sass/index.sass";
@import "~bulma/sass/elements/box.sass";

.layout-dashboard {
  display: grid;
  // grid-template-columns: 15rem 1fr;
  grid-template-columns:
    minmax(15rem, 20vw) minmax(calc(100% - 15rem), 80vw);
  grid-template-rows: $menu-heigth minmax(calc(100vh - 5rem), 1fr) auto;
  grid-template-areas:
    "menu header"
    "menu content"
    "footer footer";
  background: #ededed;

  &__menu {
    grid-area: menu;
  }

  &__header {
    grid-area: header;
  }

  &__content {
    position: relative;
    grid-area: content;
  }

  &__footer {
    grid-area: footer;
  }
}

.dash-sidebar {
  display: flex;
  flex-direction: column;
  background: $white;
  grid-area: menu;

  &__header {
    display: flex;
    height: $menu-heigth;
    flex: 0 0 auto;
    padding: 0 1rem;
    font-size: $size-7;
    color: $white;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(-30deg, $primary, $secondary);
    background-image: url('../../images/background-admin_large.jpg');
    background-position: center;
    background-size: cover;
  }

  &__title {
    margin-left: 1rem;
    font-size: $size-6;
    font-style: italic;
    font-weight: $weight-bold;
  }

  &__nav {
    // padding: 1rem 1rem 0 0;
  }

  &-nav {
    &__parent {
      margin-top: 1rem;
      font-weight: $weight-bold;
      color: $primary;
    }

    &__link {
      font-weight: normal;
      color: $text;
    }

    &__list {
      margin: 0 0 1rem 1rem;
    }
  }
}

.dash-header {
  justify-self: end;
  align-self: center;
  padding: 1rem;
  background: $white;

  &__link {
    display: inline-block;
    padding: 0 0.5rem;
    color: $black;

    &:hover {
      color: $link;
    }
  }
}
