@import "../base/basic";
@import "../components/app-title";

/* stylelint-disable selector-max-type */
$primary-palid: #b7678e;
$primary-palid-ter: #ca87a5;

.header {
  display: flex;
  height: 5rem;
  padding: 1rem 0.5rem;
  color: $white;
  background: linear-gradient(rgba($primary-palid, 1), rgba($primary-palid-ter, 1));
  // background-image: url('../../images/portada_glosario-01.jpg');
  background-position: center top;
  background-size: cover;
  align-items: center;
  @include touch {
    justify-content: space-between;
  }

  @include desktop {
    height: 8rem;
  }

  @media screen {
    a {
      color: inherit;
    }
  }

  &__column {
    flex: 1 0 calc(100% / 3);
    width: calc(100% / 3);
    padding: 0 0.5rem;

    &--left {
      flex: 0 1 auto;
      width: auto;
    }

    &--center {
      @include mobile {
        width: 0;
        flex: 0 0 0;
      }
    }

    &--right {
      text-align: right;
      flex: 0 0 0;
      @include touch {
        flex: 0 1 auto;
        width: auto;
      }
    }
  }

  &__link, .app-title {
    color: $white;
    text-shadow: 2px 2px 4px rgba(darken($primary, 10%), 0.8);
  }

  &__link {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: underline;
    white-space: nowrap;

  }

  &__search {

    &-toogle {
      @include desktop {
        display: none;
      }
    }

    &-box {
      @include touch {
        position: absolute;
        top: 5rem;
        right: 0;
        z-index: 2;
        display: none;
        padding: 1rem;
        color: $text;
        background: $white;
        box-shadow: 0 4px 2px rgba($black, 0.5);
        a {
          color: $link;
        }
      }

      &.is-active {
        display: block !important;
      }

    }
  }
}

.hero-body {
  .app-title {
    color: $primary;
  }
}

.navigation {
  display: flex;

  &__item {
    padding: 0.5rem;
    text-align: center;

    a {
      margin: 0;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }

      &.is-active {
        font-weight: bold;
      }
    }
  }
}

.meta-admin {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 99;
}

.layout-default.home {
  .is-lead {
    margin: 1.5rem 0 2rem;
    text-align: center;
  }

  .is-lead-list {
    margin: 2rem 0;
  }

  @include desktop {
    .header {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 100%;
      max-height: 100vh;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      background-color: $primary;
      background-image:
        linear-gradient(rgba($primary-palid, 0.9), rgba($primary-palid-ter, 0.7) 20%, rgba($primary, 0)),
        url('../../images/portada_glosario-01.jpg');

      .app-title {
        color: $white;
        text-shadow: 2px 2px 4px rgba(darken($primary, 10%), 0.8);
      }
      &__column {
        flex: 0 0 auto;
        width: 100%;
        order: 2;
      }

      &__title {
        width: auto;
        margin-bottom: 3rem;
      }

      &__nav {
        margin-bottom: 20vh;
        order: 1;
      }
    }

    .app-title {
      text-align: center;

      &__line {
        font-size: 2.5rem;
        &--2 {
          font-size: 2rem;
        }
      }
    }

    .app {
      display: flex;
      justify-content: flex-end;
      min-height: 100vh;
    }

    .hero {
      width: 50%;
    }

    .navigation {
      font-size: 1.2rem;
      justify-content: space-around;
    }
  }
}

/* stylelint-disable selector-no-qualifying-type */
@media print {
  $site-domain: "http://glosario-inmujeres.wdinamo.com";

  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }

  p,
  ul {
    a {
      color: $black;
      text-decoration: underline;
      word-wrap: break-word;

      &::after {
        font-size: 90%;
      }

      &[href^="#"]::after {
        display: none;
      }

      &[href^="http://"],
      &[href^="https://"] {
        &::after {
          content: " (" attr(href) ")";
        }
      }

      &[href^="/"] {
        &::after {
          content: " (#{$site-domain}" attr(href) ")";
        }
      }
    }
  }

  .app-title {
    font-family: sans-serif !important;

    &::after {
      content: "" !important;
    }
  }

  .columns {
    display: block !important;
  }

  .column {
    width: 100% !important;
  }

  iframe {
    display: none !important;
  }

  aside {
    display: block;
    margin-top: 2em;
    border-top: 1px solid $grey-light;
  }

  .articulo {
    page-break-after: always;

    &__side .title {
      color: $text;
    }

    &__thumbnail {
      max-width: 500px !important;
      margin-right: auto;
      margin-left: auto;
      color: $black !important;
      background: $white;
      border: 1px solid $grey-light;
      box-shadow: none;
    }
  }

  .header {
    color: $black;
    background: $white;

    &__search-box,
    .navigation,
    .button {
      display: none;
    }

    &__column {
      &--right {
        flex: 1 0 33.33333%;
      }
    }

    .image {
      // margin-left: auto;
      height: 1cm;
    }
  }

  .footer {
    display: none;
  }
}
/* stylelint-enable selector-no-qualifying-type */

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  animation-delay: 1s;
}

.animated.delay-2s {
  animation-delay: 2s;
}

.animated.delay-3s {
  animation-delay: 3s;
}

.animated.delay-4s {
  animation-delay: 4s;
}

.animated.delay-5s {
  animation-delay: 5s;
}

.animated.fast {
  animation-duration: 800ms;
}

.animated.faster {
  animation-duration: 500ms;
}

.animated.slow {
  animation-duration: 2s;
}

.animated.slower {
  animation-duration: 3s;
}

@media (prefers-reduced-motion) {
  .animated {
    transition: none !important;
    animation: unset !important;
  }
}
