/* stylelint-disable selector-max-type */
@import '../base/basic';
@import '~bulma/sass/base/generic.sass';
// @import '~bulma/sass/base/helpers.sass';
@import "~bulma/sass/elements/content.sass";

/**
 * RESET
 */
// Box sizing
html {
  box-sizing: border-box;
}

* {

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr {
  display: block;
  padding: 0;
  margin: 0;
}

button,
input,
select,
textarea {
  margin: 0;
}

img,
audio,
video {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
}

// Iframe
iframe {
  border: 0;
}

// Table
table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

$header-height: 1.5cm;
$footer-height: 1.5cm;

@page {
  margin: 0;
}

html {
  margin: 1cm 1.5cm 0.5cm;
}

body {
  margin-top: $header-height;
  margin-bottom: $footer-height;
  font-family: sans-serif;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  text-align: center;
}

.page {
  // padding-top: 2cm;
}


.header,
.footer {
  position: fixed;
  right: 0;
  left: 0;
  display: block;
  height: $header-height;
  font-size: 0.9em;
  color: $primary;

  .app-title {
    margin-left: 1rem;
    line-height: 1;
  }

  p {
    margin: 0;
  }

  img {
    width: 4.5cm;
    padding: 0;
    margin: 0;
  }

  table {
    width: 100%;
  }

  td {
    vertical-align: middle;

    img {
      display: inline;
      max-width: none;
      margin-left: 0.5cm;
    }
  }

  .title {
    width: auto;
  }

  .logo {
    width: 5cm;

  }
}

.clearfix {
  display: block;
  clear: both;
}

.header {
  top: 0;
  border-bottom: 1pt solid $primary;
}

.footer {
  bottom: 0;
  border-top: 1pt solid $primary;
}

.page-number {
  text-align: right;
  white-space: nowrap;

  &::before {
    content: "Página "counter(page);
  }
}

hr {
  page-break-after: always;
  border: 0;
}

.content {
  position: relative;

  &::after {
    display: block;
    clear: both;
    content: "";
  }

  p {
    position: relative;
    margin-bottom: 1rem;
  }

  img {
    position: relative;
    z-index: 2;
    // display: inline-block !important;
    float: left !important;
    max-width: 50% !important;
    margin: 0 1rem 1rem 0 !important;

  }

  blockquote {
    padding: 1.25em 1.5em;
    background-color: #f5f5f5;
    border-left: 5px solid #dbdbdb;

    &::after,
    &::before {
      display: block;
      clear: both;
      content: "";
    }
  }
}

.image {
  display: block;
  width: 50%;
  margin: 0 auto 1rem;
  color: $white;
  background: $primary;

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }

  figcaption {
    display: block;
    padding: 0;
    padding: 0.5rem;
    margin: 0;
    font-size: 10pt;
    line-height: 1;
    vertical-align: middle;
  }
}

.featured-image {
  width: 100%;
  text-align: center;
}

.iframe,
.audio,
iframe,
audio,
video,
.video {
  display: none;
  visibility: hidden;
}

.elements {
  page-break-inside: avoid;
}

.articulo-elements {
  font-size: 14px;
  line-height: 1.2;
  text-align: left;

  &__type {
    margin-bottom: 1rem;
    // font-size: $size-5;
  }

  &__item {
    margin-top: 1rem;
  }

  &__content {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-left: 1px solid $grey-light;

  }

  &__content-item {
    position: relative;
    margin-bottom: 0.5em;
    border-bottom: 1px solid $grey-light;
  }

  a {
    position: relative;
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    color: $text;

    span {
      font-size: 12px;
      text-decoration: underline;
    }
  }
}
