/**
 * En este archivo se integran los aspectos globales que
 * no dependan de otra parte de otros estilos.
 */

/* stylelint-disable */

@import "base/basic";
@import "globals/utils";
@import "globals/quill";
@import "components/article-excerpt";
@import "components/footer";
@import "layouts/articulo";

:root {
  @each $name,
  $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    --color-#{$name}: #{$color};
    --color-#{$name}-invert: #{$color-invert};
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
  }
}

.is-overlay,
.image.is-square,
.image.is-1by1,
.image.is-5by4,
.image.is-4by3,
.image.is-3by2,
.image.is-5by3,
.image.is-16by9,
.image.is-2by1,
.image.is-3by1,
.image.is-4by5,
.image.is-3by4,
.image.is-2by3,
.image.is-3by5,
.image.is-9by16,
.image.is-1by2,
.image.is-1by3 {
  img,
  video {
    object-fit: cover;
    height: 100%;
  }
}
iframe {
  max-width: 100%;
  height: auto;
  min-height: 15rem;
}

.notification--fixed {
  position: fixed;
  z-index: 2;
  bottom: 1rem;
  right: 1rem;
}

.title a {
  color: inherit;
}

.app {
  .title,
  .subtitle {
    font-family: 'Yeseva One', $family-sans-serif;
    font-weight: 400;
  }
}

.ql-img-align {
  &-left {
    float: left;
    display: inline-block;
    margin: 0 1em 1em 0;
  }
  &-right {
    float: right;
    display: inline-block;
    margin: 0 0 1em 1em;
  }
  &-center {
    display: block;
    margin: 1em auto;
  }
}
