<script>
function removeElement(el) {
    if (typeof el.remove !== 'undefined') {
        el.remove()
    } else if (typeof el.parentNode !== 'undefined') {
        el.parentNode.removeChild(el)
    }
}
export default {
  props: ['text'],
  render(h) {


    const close = () => {
          setTimeout(() => {
              this.$destroy()
              removeElement(this.$el)
          }, 150)
    }
    return (
      <div class="modal is-active">
        <div class="modal-background" onClick={close}/>
        <div class="modal-card" style="width:calc(90vw - 5rem)">
          <header class="modal-card-head">
            <p class="modal-card-title">Imprime el pdf</p>
            <button class="button" aria-label="close" onClick={close}>&times;</button>
          </header>
          <section class="modal-card-body" {...{ domProps: { innerHTML: this.text}}} />
        </div>
      </div>
    )
  },
}
</script>
